[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actilifecounts"]
	path = actilifecounts
	url = https://github.com/jhmigueles/actilifecounts
